@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {@apply border-slate-100;}
  body {@apply bg-slate-50;}
  body , p , dialog , button , input , optgroup , select , textarea {@apply text-base text-slate-500;}
  h1 , h2 , h3 , h4 , h5 , h6 , .h1 , .h2 , .h3 , .h4 , .h5 , .h6 {@apply text-slate-600 font-normal;}
  h1 , .h1 {@apply text-5xl;}
  h2 , .h2 {@apply text-4xl;}
  h3 , .h3 {@apply text-3xl;}
  h4 , .h4 {@apply text-2xl;}
  h5 , .h5 {@apply text-xl;}
  h6 , .h6 {@apply text-lg;}
  svg {@apply size-6;}

  form {@apply relative flex flex-col w-full gap-4;}
  fieldset {@apply relative flex flex-col flex-wrap w-full gap-1;}
  label {@apply w-full whitespace-nowrap;}
  input ,
  select ,
  textarea {@apply w-full h-10 px-4 py-2 border border-slate-200 rounded-lg bg-white;}
  textarea {@apply min-h-40 md:min-h-60 py-4;}
  input[type="checkbox"] ,
  label[for="checkbox"] ,
  input[type="radio"] ,
  label[for="radio"] {@apply w-fit;}
  input[type="checkbox"] ,
  input[type="radio"] {@apply size-6 rounded;}
  input:hover    , select:hover    , textarea:hover    {@apply border-slate-300;}
  input:focus    , select:hover    , textarea:hover    {@apply border-primary;}
  input:disabled , select:disabled , textarea:disabled {@apply border-slate-200 bg-slate-100;}
  form * , input , select , textarea {@apply outline-none;}

  .form-inline {@apply flex-row justify-between items-end gap-4;}
  .form-inner {@apply flex-row justify-between items-end gap-0;}
  .fieldset-border {@apply pt-[10px];}
  .fieldset-inline {@apply flex-row items-center gap-2 gap-x-8;}
  .fieldset-inline .field {@apply flex-row items-center gap-2;}
  .fieldset-button {@apply flex-row pt-4 gap-4;}
  .form-inner input[type="number"]::-webkit-outer-spin-button ,
  .form-inner input[type="number"]::-webkit-inner-spin-button {@apply appearance-none;}
  .form-inline fieldset {@apply w-full;}
  .form-inner .fieldset-button-field-end {@apply absolute bottom-0 right-0 w-fit p-0;}
  .form-inner .fieldset-button-field-end .btn:not(.btn-icon) {@apply w-10 xs:w-fit px-0 xs:px-4;}
  .form-inner .fieldset-button-field-end .btn:not(.btn-icon) span {@apply hidden xs:block;}
  .form-inline .fieldset-button {@apply w-fit p-0;}
  .field {@apply relative flex;}
  .field label {@apply w-fit;}
  .label-border {@apply absolute -top-2.5 left-3 inline-block text-sm px-1 py-0 rounded mt-[1px] bg-white;}
  .label-field-on {@apply absolute top-0.5 left-4 text-sm;}
  .label-field-end {@apply absolute top-1.5 right-1.5 min-w-10 text-xs text-center text-white px-2 py-1 rounded bg-slate-200;}

  table {@apply w-full;}
  table thead tr {@apply text-sm border-b border-slate-200;}
  table thead th ,
  table thead td {@apply font-medium text-nowrap text-left align-bottom pt-0;}
  table tbody tr {@apply border-b border-slate-100;}
  table tbody tr:hover {@apply bg-slate-100;}
  table th ,
  table td {@apply align-top pr-4 sm:pr-8 py-2 sm:py-4;}
  table th:first-child ,
  table td:first-child {@apply w-0 pl-4 sm:pl-8;}
  table th:last-child ,
  table td:last-child {@apply w-0 pr-4 sm:pr-8;}
  table a:not(.btn):hover {@apply underline underline-offset-4 decoration-primary-active;}
  
  table.frame thead th ,
  table.frame thead td {@apply align-middle py-6;}
  table.frame thead th:last-child ,
  table.frame thead td:last-child {@apply py-2 pr-4;}
  /**/
  .table-action tbody th ,
  .table-action tbody td {@apply py-4;}
  .table-action th:first-child ,
  .table-action td:first-child {@apply w-0 font-medium text-right text-info;}
  .table-action th:last-child ,
  .table-action td:last-child {@apply w-0 whitespace-nowrap py-2 pr-2;}
  .table-action:not(.frame) thead th ,
  .table-action:not(.frame) thead td {@apply align-middle;}
  .table-action:not(.frame) thead th:first-child ,
  .table-action:not(.frame) thead td:first-child {@apply pl-0 sm:pl-4}
  .table-action:not(.frame) thead th:last-child ,
  .table-action:not(.frame) thead td:last-child {@apply pt-0;}
  .table-action a:hover {@apply no-underline;}
  /**/
  .frame table tbody tr:hover ,
  table.frame tbody tr:hover {@apply bg-slate-50;}

  a ,
  button , .btn ,
  input , select , textarea ,
  .tooltip:before , .tooltip:after ,
  dialog {@apply transition-all;}

  #root {@apply padding;}
};

@layer components {

  /* Color */
  :is(.btn, .badge)[class*="-primary"]         {@apply text-primary          fill-primary          border-primary          bg-primary         ;}
  :is(.btn, .badge)[class*="-secondary"]       {@apply text-secondary        fill-secondary        border-secondary        bg-secondary       ;}
  :is(.btn, .badge)[class*="-tertiary"]        {@apply text-tertiary         fill-tertiary         border-tertiary         bg-tertiary        ;}
  :is(.btn, .badge)[class*="-error"]           {@apply text-error            fill-error            border-error            bg-error           ;}
  :is(.btn, .badge)[class*="-warning"]         {@apply text-warning          fill-warning          border-warning          bg-warning         ;}
  :is(.btn, .badge)[class*="-success"]         {@apply text-success          fill-success          border-success          bg-success         ;}
  :is(.btn, .badge)[class*="-info"]            {@apply text-info             fill-info             border-info             bg-info            ;}
  :is(.btn, .badge)[class*="-grey"]            {@apply text-grey             fill-grey             border-grey             bg-grey            ;}
  :is(.btn, .badge)[class*="-slate"]           {@apply text-slate            fill-slate            border-slate            bg-slate           ;}
  :is(.btn)[class*="-primary"]:hover           {@apply text-primary-active   fill-primary-active   border-primary-active   bg-primary-active  ;}
  :is(.btn)[class*="-secondary"]:hover         {@apply text-secondary-active fill-secondary-active border-secondary-active bg-secondary-active;}
  :is(.btn)[class*="-tertiary"]:hover          {@apply text-tertiary-active  fill-tertiary-active  border-tertiary-active  bg-tertiary-active ;}
  :is(.btn)[class*="-error"]:hover             {@apply text-error-active     fill-error-active     border-error-active     bg-error-active    ;}
  :is(.btn)[class*="-warning"]:hover           {@apply text-warning-active   fill-warning-active   border-warning-active   bg-warning-active  ;}
  :is(.btn)[class*="-success"]:hover           {@apply text-success-active   fill-success-active   border-success-active   bg-success-active  ;}
  :is(.btn)[class*="-info"]:hover              {@apply text-info-active      fill-info-active      border-info-active      bg-info-active     ;}
  :is(.btn)[class*="-grey"]:hover              {@apply text-grey-active      fill-grey-active      border-grey-active      bg-grey-active     ;}
  :is(.btn)[class*="-slate"]:hover             {@apply text-slate-active     fill-slate-active     border-slate-active     bg-slate-active    ;}

  /* Button */
  .btn {@apply flex justify-center items-center w-full xs:w-fit gap-2 border;}
    .btn.btn-2xs {@apply h-6 text-xs font-medium px-1.5 py-1 rounded;}
    .btn.btn-xs  {@apply h-8 text-xs font-medium px-2.5 py-1 rounded;}
    .btn.btn-sm  {@apply h-9 text-sm font-medium px-3 py-1.5 rounded-md;}
    .btn         {@apply h-10 text-base px-4 py-2 rounded-lg;}
    .btn.btn-lg  {@apply h-11 text-lg px-5 py-2.5 rounded-lg;}
    .btn.btn-xl  {@apply h-12 text-xl px-6 py-3 rounded-lg;}
    .btn.btn-2xl {@apply h-14 text-2xl px-7 py-3.5 rounded-lg;}
    .btn.btn-2xs svg , .icon-2xs  {@apply size-4;}
    .btn.btn-xs  svg , .icon-xs   {@apply size-5;}
    .btn.btn-sm  svg , .icon-sm   {@apply size-5;}
    .btn         svg , .icon-base {@apply size-6;}
    .btn.btn-lg  svg , .icon-lg   {@apply size-7;}
    .btn.btn-xl  svg , .icon-xl   {@apply size-8;}
    .btn.btn-2xl svg , .icon-2xl  {@apply size-9;}
  .btn-icon {@apply !p-0;}
    .btn-icon.btn-2xs {@apply size-6;}
    .btn-icon.btn-xs  {@apply size-8;}
    .btn-icon.btn-sm  {@apply size-9;}
    .btn-icon         {@apply size-10;}
    .btn-icon.btn-lg  {@apply size-11;}
    .btn-icon.btn-xl  {@apply size-12;}
    .btn-icon.btn-2xl {@apply size-14;}
  /**/
  button ,
  .btn ,
  .btn[class*="btn-alternate-"] ,
    .btn[class*="btn-ghost-alternate"] ,
    .btn[class*="btn-mix-alternate"] ,
    .btn[class*="btn-text-alternate"] {@apply text-slate-400 fill-slate-400 border-slate-100 bg-slate-100;}
    button:hover ,
    .btn:hover ,
    .btn.btn-ghost:hover {@apply text-slate-500 fill-slate-500 border-slate-200 bg-slate-200;}
    button:disabled ,
    .btn:disabled {@apply !text-slate-200 !fill-slate-200 !border-slate-100 !bg-slate-100;}
  .btn[class*="btn-ghost"] ,
  .btn[class*="btn-mix"] ,
  .btn[class*="btn-text"] ,
  .btn[class*="btn-text"]:hover {@apply border-transparent bg-transparent;}
  .btn[class*="btn-alternate"]:hover ,
  .btn[class*="btn-ghost-"]:hover ,
  .btn[class*="btn-color"] ,
  .btn[class*="btn-color"]:hover {@apply text-white fill-white;}
  .btn-outline ,
  .btn[class*="btn-outline-alternate"] {@apply text-slate-400 fill-slate-400 border-slate-400;}
  .btn-outline:hover {@apply border-slate-500;}
  .btn[class*="btn-outline"] ,
  .btn[class*="btn-outline"]:hover {@apply border-2 bg-transparent;}
  .btn.btn-2xs[class*="btn-outline"] ,
  .btn.btn-2xs[class*="btn-outline"]:hover {@apply border;}
  .btn-reverse ,
  .btn[class*="btn-reverse-alternate"] {@apply text-slate-400 fill-slate-400;}
  .btn[class*="btn-reverse"] ,
  .btn[class*="btn-reverse"]:hover ,
  .btn[class*="btn-mix"]:hover {@apply border-white bg-white;}

  /* Badge */
  .badge {@apply flex justify-center items-center w-fit whitespace-nowrap gap-0.5 rounded-md;}
  .badge-pill {@apply rounded-full;}
    .badge.badge-xs {@apply min-w-5 h-5 text-xs font-medium px-1.5 rounded;}
    .badge.badge-sm {@apply min-w-6 h-6 text-xs font-medium px-1.5 rounded;}
    .badge          {@apply min-w-7 h-7 text-sm px-2;}
    .badge.badge-lg {@apply min-w-8 h-8 text-sm px-2;}
    .badge.badge-xs svg {@apply size-4;}
    .badge.badge-sm svg {@apply size-4;}
    .badge          svg {@apply size-5;}
    .badge.badge-lg svg {@apply size-6;}
  .badge-icon {@apply !p-0;}
    .badge-icon.badge-xs {@apply size-5;}
    .badge-icon.badge-sm {@apply size-6;}
    .badge-icon          {@apply size-7;}
    .badge-icon.badge-lg {@apply size-8;}
  .badge {@apply text-slate-400 fill-slate-400 border-slate-100 bg-slate-100;}
  .badge[class*="badge-color"] {@apply text-white fill-white;}
  .badge[class*="badge-reverse"] ,
  .badge-mix {@apply border-white bg-white;}
  .badge-outline ,
  .badge-mix {@apply text-slate-400 fill-slate-400 border border-slate-400;}
  .badge[class*="badge-outline"] {@apply border bg-transparent;}

  /* Layout */
  .frame {@apply padding rounded-lg bg-white shadow-lg;}

  .tooltip {@apply relative whitespace-nowrap inline-block w-fit;}
  .tooltip:before {@apply content-[attr(data-tip)] min-w-10 text-xs text-center text-white px-2 py-1 rounded mb-1 bg-slate-600;}
  .tooltip:after {@apply content-[''] w-0 h-0 border-t-4 border-x-4 border-transparent border-t-slate-600;}
  .tooltip:before ,
  .tooltip:after {@apply delay-500 pointer-events-none invisible opacity-0 absolute left-1/2 bottom-full -translate-x-1/2 -translate-y-0;}
  .tooltip:hover:before ,
  .tooltip:hover:after {@apply visible opacity-100 -translate-y-1;}

  .tooltip-left:before {@apply mb-0 mr-1;}
  .tooltip-left:after {@apply border-y-4 border-r-0 border-transparent border-l-slate-600;}
  .tooltip-left:before ,
  .tooltip-left:after {@apply top-auto left-auto right-full bottom-1/2 -translate-x-0 translate-y-1/2;}
  .tooltip-left:hover:before ,
  .tooltip-left:hover:after {@apply -translate-x-1 translate-y-1/2;}

  .modal {@apply relative z-10 flex flex-col justify-center items-center text-left m-0 bg-transparent;}
  .modal .modal-content {@apply relative flex flex-col w-full sm:w-[calc(623px-64px)] gap-sm padding;}
  .modal-content > .tooltip {@apply absolute top-0 right-0;}
  .modal-content .fieldset-button {@apply gap-2 2xs:gap-4 pt-4;}
  .modal[class*="modal-"] .modal-content > .tooltip ,
  .modal[class*="modal-"] .modal-close {@apply hidden;}
  .modal-state {@apply border rounded-lg shadow-none;}
  .modal-tooltip {@apply visible opacity-100 absolute left-auto right-0 bottom-full -translate-y-2;}
  .modal-tooltip .modal-content {@apply frame w-fit text-sm gap-0 padding-sm;}
  .modal-tooltip .modal-content .fieldset-button {@apply flex-nowrap gap-2 padding-t-xs;}
  .modal-tooltip-right .modal-content .fieldset-button {@apply justify-end;}
  .modal-tooltip-left:after  ,
  .modal-tooltip-right:after {@apply content-[''] absolute -bottom-1 w-0 h-0 border-t-4 border-x-4 border-transparent border-t-white;}
  .modal-tooltip-left:after  {@apply left-[16px];}
  .modal-tooltip-right:after {@apply right-[16px];}
  /**/
  .modal:not([class*="modal-"]) {@apply fixed top-0 left-0 w-full h-full padding;}
  .modal:not([class*="modal-"]) .modal-content {@apply frame;}
  .modal:not([class*="modal-"]) .modal-close {@apply transition-opacity opacity-95 fixed -z-10 top-0 left-0 w-[100vw] h-[100vh] bg-slate-600;}
  .modal:not([class*="modal-"]) .modal-close:hover {@apply opacity-90;}
  /**/
  .modal .container {@apply p-0 m-0 bg-transparent shadow-none;}
  /* Preview */
  .modal.onState {@apply !relative;}
};

@layer utilities {
  .gap-xs       {@apply gap-1 sm:gap-2 ;}
  .gap-sm       {@apply gap-2 sm:gap-4 ;}
  .gap          {@apply gap-4 sm:gap-8 ;}
  .gap-lg       {@apply gap-8 sm:gap-16;}
  .padding-xs   {@apply p-1  sm:p-2  ;}
  .padding-x-xs {@apply px-1 sm:px-2 ;}
  .padding-y-xs {@apply py-1 sm:py-2 ;}
  .padding-t-xs {@apply pt-1 sm:pt-2 ;}
  .padding-l-xs {@apply pl-1 sm:pl-2 ;}
  .padding-r-xs {@apply pr-1 sm:pr-2 ;}
  .padding-b-xs {@apply pb-1 sm:pb-2 ;}
  .padding-sm   {@apply p-2  sm:p-4  ;}
  .padding-x-sm {@apply px-2 sm:px-4 ;}
  .padding-y-sm {@apply py-2 sm:py-4 ;}
  .padding-t-sm {@apply pt-2 sm:pt-4 ;}
  .padding-l-sm {@apply pl-2 sm:pl-4 ;}
  .padding-r-sm {@apply pr-2 sm:pr-4 ;}
  .padding-b-sm {@apply pb-2 sm:pb-4 ;}
  .padding      {@apply p-4  sm:p-8  ;}
  .padding-x    {@apply px-4 sm:px-8 ;}
  .padding-y    {@apply py-4 sm:py-8 ;}
  .padding-t    {@apply pt-4 sm:pt-8 ;}
  .padding-l    {@apply pl-4 sm:pl-8 ;}
  .padding-r    {@apply pr-4 sm:pr-8 ;}
  .padding-b    {@apply pb-4 sm:pb-8 ;}
  .padding-lg   {@apply p-8  sm:p-16 ;}
  .padding-x-lg {@apply px-8 sm:px-16;}
  .padding-y-lg {@apply py-8 sm:py-16;}
  .padding-t-lg {@apply pt-8 sm:pt-16;}
  .padding-l-lg {@apply pl-8 sm:pl-16;}
  .padding-r-lg {@apply pr-8 sm:pr-16;}
  .padding-b-lg {@apply pb-8 sm:pb-16;}
  .margin-xs    {@apply m-1  sm:m-2  ;}
  .margin-x-xs  {@apply mx-1 sm:mx-2 ;}
  .margin-y-xs  {@apply my-1 sm:my-2 ;}
  .margin-t-xs  {@apply mt-1 sm:mt-2 ;}
  .margin-l-xs  {@apply ml-1 sm:ml-2 ;}
  .margin-r-xs  {@apply mr-1 sm:mr-2 ;}
  .margin-b-xs  {@apply mb-1 sm:mb-2 ;}
  .margin-sm    {@apply m-2  sm:m-4  ;}
  .margin-x-sm  {@apply mx-2 sm:mx-4 ;}
  .margin-y-sm  {@apply my-2 sm:my-4 ;}
  .margin-t-sm  {@apply mt-2 sm:mt-4 ;}
  .margin-l-sm  {@apply ml-2 sm:ml-4 ;}
  .margin-r-sm  {@apply mr-2 sm:mr-4 ;}
  .margin-b-sm  {@apply mb-2 sm:mb-4 ;}
  .margin       {@apply m-4  sm:m-8  ;}
  .margin-x     {@apply mx-4 sm:mx-8 ;}
  .margin-y     {@apply my-4 sm:my-8 ;}
  .margin-t     {@apply mt-4 sm:mt-8 ;}
  .margin-l     {@apply ml-4 sm:ml-8 ;}
  .margin-r     {@apply mr-4 sm:mr-8 ;}
  .margin-b     {@apply mb-4 sm:mb-8 ;}
  .margin-lg    {@apply m-8  sm:m-16 ;}
  .margin-x-lg  {@apply mx-8 sm:mx-16;}
  .margin-y-lg  {@apply my-8 sm:my-16;}
  .margin-t-lg  {@apply mt-8 sm:mt-16;}
  .margin-l-lg  {@apply ml-8 sm:ml-16;}
  .margin-r-lg  {@apply mr-8 sm:mr-16;}
  .margin-b-lg  {@apply mb-8 sm:mb-16;}
  .container {@apply relative flex flex-col max-w-screen-xl frame gap padding mx-auto sm:my-8;}
  .container + .container {@apply mt-4;}
  .container hr {@apply -mx-4 sm:-mx-8;}
};