@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {@apply border-slate-100;}
  body {@apply text-base text-slate-500 bg-slate-50;}
  h1 , h2 , h3 , h4 , h5 , h6 {@apply text-slate-600;}
  h1 {@apply text-5xl;}
  h2 {@apply text-4xl;}
  h3 {@apply text-3xl;}
  h4 {@apply text-2xl;}
  h5 {@apply text-xl;}
  h6 {@apply text-lg;}
  p , dialog {@apply text-slate-500;}
  svg {@apply size-6;}
  form {@apply flex flex-col w-full gap-4;}
  fieldset {@apply relative flex flex-col flex-wrap gap-2;}
  label {@apply w-full;}
  input ,
  select ,
  textarea {@apply w-full px-4 py-2 border border-slate-200 rounded-lg bg-white;}
  textarea {@apply min-h-40;}
  input[type="checkbox"] ,
  label[for="checkbox"] ,
  input[type="radio"] ,
  label[for="radio"] {@apply w-fit;}
  input[type="checkbox"] ,
  input[type="radio"] {@apply size-6 rounded;}
  input:hover    , select:hover    , textarea:hover    {@apply border-slate-300;}
  input:focus    , select:hover    , textarea:hover    {@apply border-primary;}
  input:disabled , select:disabled , textarea:disabled {@apply border-slate-200 bg-slate-100;}
  form * , input , select , textarea {@apply outline-none;}

  .fieldset-inline {@apply flex-row items-center gap-2;}
  .fieldset-button {@apply flex-row pt-4 gap-4;}
  .label-field {@apply absolute top-0.5 left-4 text-sm;}
  .label-border {@apply absolute -top-2.5 left-3 inline-block w-fit text-sm px-1 py-0 rounded bg-white;}

  table thead tr {@apply text-sm border-b border-slate-300;}
  table thead th ,
  table thead td {@apply font-medium text-nowrap text-left align-bottom pt-0;}
  table tbody tr {@apply border-b border-slate-100;}
  table tbody tr:hover {@apply bg-slate-100;}
  table th ,
  table td {@apply align-top pr-4 sm:pr-8 py-2 sm:py-4;}
  table th:first-child ,
  table td:first-child {@apply w-0 pl-4 sm:pl-8;}
  table th:last-child ,
  table td:last-child {@apply w-0 pr-4 sm:pr-8;}
  table a:not(.btn):hover {@apply underline underline-offset-4 decoration-primary-active;}
  a ,
  button , .btn ,
  input , select , textarea ,
  .tooltip:before , .tooltip:after ,
  dialog {@apply transition-all;}
};

@layer components {

  .btn[class*="-primary"]         {@apply text-primary          fill-primary          border-primary          bg-primary         ;}
  .btn[class*="-secondary"]       {@apply text-secondary        fill-secondary        border-secondary        bg-secondary       ;}
  .btn[class*="-tertiary"]        {@apply text-tertiary         fill-tertiary         border-tertiary         bg-tertiary        ;}
  .btn[class*="-error"]           {@apply text-error            fill-error            border-error            bg-error           ;}
  .btn[class*="-warning"]         {@apply text-warning          fill-warning          border-warning          bg-warning         ;}
  .btn[class*="-success"]         {@apply text-success          fill-success          border-success          bg-success         ;}
  .btn[class*="-info"]            {@apply text-info             fill-info             border-info             bg-info            ;}
  .btn[class*="-grey"]            {@apply text-grey             fill-grey             border-grey             bg-grey            ;}
  .btn[class*="-slate"]           {@apply text-slate            fill-slate            border-slate            bg-slate           ;}
  .btn[class*="-primary"]:hover   {@apply text-primary-active   fill-primary-active   border-primary-active   bg-primary-active  ;}
  .btn[class*="-secondary"]:hover {@apply text-secondary-active fill-secondary-active border-secondary-active bg-secondary-active;}
  .btn[class*="-tertiary"]:hover  {@apply text-tertiary-active  fill-tertiary-active  border-tertiary-active  bg-tertiary-active ;}
  .btn[class*="-error"]:hover     {@apply text-error-active     fill-error-active     border-error-active     bg-error-active    ;}
  .btn[class*="-warning"]:hover   {@apply text-warning-active   fill-warning-active   border-warning-active   bg-warning-active  ;}
  .btn[class*="-success"]:hover   {@apply text-success-active   fill-success-active   border-success-active   bg-success-active  ;}
  .btn[class*="-info"]:hover      {@apply text-info-active      fill-info-active      border-info-active      bg-info-active     ;}
  .btn[class*="-grey"]:hover      {@apply text-grey-active      fill-grey-active      border-grey-active      bg-grey-active     ;}
  .btn[class*="-slate"]:hover     {@apply text-slate-active     fill-slate-active     border-slate-active     bg-slate-active    ;}
  .btn {@apply flex justify-center items-center w-full xs:w-fit h-10 rounded-lg px-4 py-2 gap-2 border;}
    .btn.btn-2xs {@apply h-6 text-xs font-medium px-1.5 py-1 rounded;}
    .btn.btn-xs  {@apply h-8 text-xs font-medium px-2.5 py-1 rounded;}
    .btn.btn-sm  {@apply h-9 text-sm font-medium px-3 py-1.5 rounded-md;}
  /*.btn.btn-md  {@apply h-10 text-base px-4 py-2;}*/
    .btn.btn-lg  {@apply h-11 text-lg px-5 py-2.5;}
    .btn.btn-xl  {@apply h-12 text-xl px-6 py-3;}
    .btn.btn-2xl {@apply h-14 text-2xl px-7 py-3.5;}
    .btn.btn-2xs svg {@apply size-4;}
    .btn.btn-xs  svg {@apply size-4;}
    .btn.btn-sm  svg {@apply size-5;}
  /*.btn.btn-md  svg {@apply size-6;}*/
    .btn.btn-lg  svg {@apply size-7;}
    .btn.btn-xl  svg {@apply size-8;}
    .btn.btn-2xl svg {@apply size-9;}
  .btn-icon {@apply size-10 !p-0;}
    .btn-icon.btn-2xs {@apply size-6;}
    .btn-icon.btn-xs  {@apply size-8;}
    .btn-icon.btn-sm  {@apply size-9;}
  /*.btn-icon.btn-md  {@apply size-10;}*/
    .btn-icon.btn-lg  {@apply size-11;}
    .btn-icon.btn-xl  {@apply size-12;}
    .btn-icon.btn-2xl {@apply size-14;}
  /**/
  .btn ,
  .btn[class*="btn-alternate-"] ,
    .btn[class*="btn-ghost-alternate"] ,
    .btn[class*="btn-mix-alternate"] ,
    .btn[class*="btn-text-alternate"] {@apply text-slate-400 fill-slate-400 border-slate-100 bg-slate-100;}
    .btn:hover ,
    .btn.btn-ghost:hover {@apply text-slate-500 fill-slate-500 border-slate-200 bg-slate-200;}
    .btn:disabled {@apply text-slate-300 fill-slate-300 border-slate-100 bg-slate-100;}
  .btn[class*="btn-ghost"] ,
  .btn[class*="btn-mix"] ,
  .btn[class*="btn-text"] ,
  .btn[class*="btn-text"]:hover {@apply border-transparent bg-transparent;}
  .btn[class*="btn-alternate"]:hover ,
  .btn[class*="btn-ghost-"]:hover ,
  .btn[class*="btn-color"] ,
  .btn[class*="btn-color"]:hover {@apply text-white fill-white;}
  .btn-outline ,
  .btn[class*="btn-outline-alternate"] {@apply text-slate-400 fill-slate-400 border-slate-400;}
  .btn-outline:hover {@apply border-slate-500;}
  .btn[class*="btn-outline"] ,
  .btn[class*="btn-outline"]:hover {@apply border-2 bg-transparent;}
  .btn.btn-2xs[class*="btn-outline"] ,
  .btn.btn-2xs[class*="btn-outline"]:hover {@apply border;}
  .btn-reverse ,
  .btn[class*="btn-reverse-alternate"] {@apply text-slate-400 fill-slate-400;}
  .btn[class*="btn-reverse"] ,
  .btn[class*="btn-reverse"]:hover ,
  .btn[class*="btn-mix"]:hover {@apply border-white bg-white;}
  
  .table-action tbody th ,
  .table-action tbody td {@apply py-4;}
  .table-action th:first-child ,
  .table-action td:first-child {@apply w-0 font-medium text-right text-info;}
  .table-action thead th:first-child ,
  .table-action thead td:first-child {@apply pl-0 sm:pl-4}
  .table-action th:last-child ,
  .table-action td:last-child {@apply w-0 whitespace-nowrap py-2 pr-2;}
  .table-action a:hover {@apply no-underline;}
  .table-action .btn:not(.btn-icon) {@apply w-fit;}

  .frame {@apply overflow-hidden padding rounded-lg bg-white shadow-xl;}
  table.frame thead th ,
  table.frame thead td {@apply pt-8}
  table.frame thead tr {@apply border-slate-200;}
  table.frame tbody tr {@apply border-slate-100;}
  table.frame tbody tr:hover {@apply bg-slate-50;}

  .tooltip {@apply relative inline-block w-fit;}
  .tooltip:before {@apply content-[attr(data-tip)] min-w-10 text-xs text-center text-white px-2 py-1 rounded mb-1 bg-slate-600;}
  .tooltip:after {@apply content-[''] w-0 h-0 border-t-4 border-x-4 border-transparent border-t-slate-600;}
  .tooltip:before ,
  .tooltip:after {@apply delay-500 pointer-events-none invisible opacity-0 absolute left-1/2 bottom-full -translate-x-1/2 -translate-y-0;}
  .tooltip:hover:before ,
  .tooltip:hover:after {@apply visible opacity-100 -translate-y-1;}

  .modal {@apply relative z-10 flex flex-col justify-center items-center m-0 bg-transparent;}
  .modal .modal-content {@apply relative flex flex-col padding
    sm:max-w-[calc(640px-64px)]
  ;}
  .modal-content .tooltip {@apply absolute top-0 right-0;}
  .modal-content .fieldset-button {@apply gap-sm padding-t-sm;}
  .modal[class*="modal-"] .modal-content .tooltip ,
  .modal[class*="modal-"] .modal-close {@apply hidden;}

  .modal-state {@apply border rounded-lg shadow-none;}
  .modal-tooltip {@apply visible opacity-100 absolute left-auto right-0 bottom-full -translate-y-2;}
  .modal-tooltip .modal-content {@apply frame text-sm padding-sm;}
  .modal-tooltip .modal-content .fieldset-button {@apply flex-nowrap gap-2 padding-t-xs;}
  .modal-tooltip-right .modal-content .fieldset-button {@apply justify-end;}
  .modal-tooltip-left:after  ,
  .modal-tooltip-right:after {@apply content-[''] absolute -bottom-1 w-0 h-0 border-t-4 border-x-4 border-transparent border-t-white;}
  .modal-tooltip-left:after  {@apply left-[16px];}
  .modal-tooltip-right:after {@apply right-[16px];}
  /**/
  .modal:not([class*="modal-"]) {@apply fixed top-0 left-0 w-full h-full padding;}
  .modal:not([class*="modal-"]) .modal-content {@apply frame;}
  .modal:not([class*="modal-"]) .modal-close {@apply transition-opacity opacity-95 fixed -z-10 top-0 left-0 w-[100vw] h-[100vh] bg-slate-600;}
  .modal:not([class*="modal-"]) .modal-close:hover {@apply opacity-90;}
  /* Preview */
  /*.modal:not([class*="modal-"]) {@apply hidden;}*/
  .modal.onState {@apply !relative;}
};

@layer utilities {
  .gap-xs      {@apply gap-1 sm:gap-2 ;}
  .gap-sm      {@apply gap-2 sm:gap-4 ;}
  .gap         {@apply gap-4 sm:gap-8 ;}
  .gap-lg      {@apply gap-8 sm:gap-16;}
  .padding-xs , .padding-y-xs , .padding-t-xs {@apply pt-1 sm:pt-2 ;}
  .padding-xs , .padding-x-xs , .padding-r-xs {@apply pr-1 sm:pr-2 ;}
  .padding-xs , .padding-y-xs , .padding-b-xs {@apply pb-1 sm:pb-2 ;}
  .padding-xs , .padding-x-xs , .padding-l-xs {@apply pl-1 sm:pl-2 ;}
  .padding-sm , .padding-y-sm , .padding-t-sm {@apply pt-2 sm:pt-4 ;}
  .padding-sm , .padding-x-sm , .padding-r-sm {@apply pr-2 sm:pr-4 ;}
  .padding-sm , .padding-y-sm , .padding-b-sm {@apply pb-2 sm:pb-4 ;}
  .padding-sm , .padding-x-sm , .padding-l-sm {@apply pl-2 sm:pl-4 ;}
  .padding    , .padding-y    , .padding-t    {@apply pt-4 sm:pt-8 ;}
  .padding    , .padding-x    , .padding-r    {@apply pr-4 sm:pr-8 ;}
  .padding    , .padding-y    , .padding-b    {@apply pb-4 sm:pb-8 ;}
  .padding    , .padding-x    , .padding-l    {@apply pl-4 sm:pl-8 ;}
  .padding-lg , .padding-y-lg , .padding-t-lg {@apply pt-8 sm:pt-16;}
  .padding-lg , .padding-x-lg , .padding-r-lg {@apply pr-8 sm:pr-16;}
  .padding-lg , .padding-y-lg , .padding-b-lg {@apply pb-8 sm:pb-16;}
  .padding-lg , .padding-x-lg , .padding-l-lg {@apply pl-8 sm:pl-16;}
  .margin-xs  , .margin-y-xs  , .margin-t-xs  {@apply pt-1 sm:pt-2 ;}
  .margin-xs  , .margin-x-xs  , .margin-r-xs  {@apply pr-1 sm:pr-2 ;}
  .margin-xs  , .margin-y-xs  , .margin-b-xs  {@apply pb-1 sm:pb-2 ;}
  .margin-xs  , .margin-x-xs  , .margin-l-xs  {@apply pl-1 sm:pl-2 ;}
  .margin-sm  , .margin-y-sm  , .margin-t-sm  {@apply pt-2 sm:pt-4 ;}
  .margin-sm  , .margin-x-sm  , .margin-r-sm  {@apply pr-2 sm:pr-4 ;}
  .margin-sm  , .margin-y-sm  , .margin-b-sm  {@apply pb-2 sm:pb-4 ;}
  .margin-sm  , .margin-x-sm  , .margin-l-sm  {@apply pl-2 sm:pl-4 ;}
  .margin     , .margin-y     , .margin-t     {@apply pt-4 sm:pt-8 ;}
  .margin     , .margin-x     , .margin-r     {@apply pr-4 sm:pr-8 ;}
  .margin     , .margin-y     , .margin-b     {@apply pb-4 sm:pb-8 ;}
  .margin     , .margin-x     , .margin-l     {@apply pl-4 sm:pl-8 ;}
  .margin-lg  , .margin-y-lg  , .margin-t-lg  {@apply pt-8 sm:pt-16;}
  .margin-lg  , .margin-x-lg  , .margin-r-lg  {@apply pr-8 sm:pr-16;}
  .margin-lg  , .margin-y-lg  , .margin-b-lg  {@apply pb-8 sm:pb-16;}
  .margin-lg  , .margin-x-lg  , .margin-l-lg  {@apply pl-8 sm:pl-16;}
  .container {@apply flex flex-col max-w-screen-xl gap padding mx-auto my-4 sm:my-8;}
  .container + .container {@apply mt-0;}
};