@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import url('./banks.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {@apply select-none border-slate-100;}
  body {@apply bg-white;}
  body , p , dialog , button , input , optgroup , select , textarea {@apply text-base text-slate-500;}
  h1 , h2 , h3 , h4 , h5 , h6 , .h1 , .h2 , .h3 , .h4 , .h5 , .h6 , .h7 {@apply flex items-center text-slate-600 font-normal;}
  h1 , .h1 {@apply text-3xl font-light;}
  h2 , .h2 {@apply text-2xl font-light;}
  h3 , .h3 {@apply text-xl;}
  h4 , .h4 {@apply text-lg;}
  h5 , .h5 {@apply text-base;}
  h6 , .h6 {@apply text-xs  font-medium;}
       .h7 {@apply text-2xs font-medium;}
  svg {@apply inline-block size-6;}
  .material-symbols-outlined {@apply inline-block size-6 [font-size:theme('gap.6')];}

  ul, ol, li {@apply p-0 m-0;}
  ol {@apply list-decimal pl-10;}
  ol li {@apply pl-1;}

  form {@apply relative flex flex-col items-center w-full gap-4;}
  fieldset {@apply relative flex flex-col flex-wrap w-full gap-1;}
  label {@apply w-full whitespace-nowrap;}
  input ,
  select ,
  textarea {@apply w-full h-10 px-4 py-2 border border-slate-200 rounded-lg bg-white;}
  select {@apply px-3 py-0;}
  textarea {@apply min-h-40 md:min-h-60;}
  input:is([type="checkbox"], [type="radio"]) {@apply size-6 rounded;}
  label:is( [for="checkbox"],  [for="radio"]) {@apply w-fit;}
  input[type="password"] {@apply tracking-widest;}
  /*input:hover       , fieldset:hover input             , 
  select:hover      , fieldset:hover select            , 
  textarea:hover    , fieldset:hover textarea          {@apply border-slate-300;}
  input:focus       , fieldset:hover input:focus       ,
  select:focus      , fieldset:hover select:focus      , 
  textarea:focus    , fieldset:hover textarea:focus    {@apply border-primary;}*/
  .fieldset-inline.border:hover                                   ,
                            :is(input, select, textarea):hover {@apply border-slate-300;}
  .fieldset-inline.border:has(:focus) ,
                            :is(input, select, textarea):focus    ,
  form[class*="-primary"]   :is(input, select, textarea):focus {@apply border-primary  ;}
  form[class*="-secondary"] :is(input, select, textarea):focus {@apply border-secondary;}
  form[class*="-tertiary"]  :is(input, select, textarea):focus {@apply border-tertiary ;}
  form[class*="-error"]     :is(input, select, textarea):focus {@apply border-error    ;}
  form[class*="-warning"]   :is(input, select, textarea):focus {@apply border-warning  ;}
  form[class*="-success"]   :is(input, select, textarea):focus {@apply border-success  ;}
  form[class*="-info"]      :is(input, select, textarea):focus {@apply border-info     ;}
  form[class*="-grey"]      :is(input, select, textarea):focus {@apply border-grey     ;}
  form[class*="-slate"]     :is(input, select, textarea):focus {@apply border-slate    ;}
  input:disabled    , fieldset:hover input:disabled    ,
  select:disabled   , fieldset:hover select:disabled   , 
  textarea:disabled , fieldset:hover textarea:disabled {@apply border-slate-200 bg-slate-100;}
  /**/
  form * , input , select , textarea {@apply outline-none;}
  input::-webkit-outer-spin-button ,
  input::-webkit-inner-spin-button {@apply [-webkit-appearance:none] m-0;}
  input[type="number"] {@apply [-moz-appearance:textfield];}
  /*input[type="date"]::-webkit-calendar-picker-indicator ,
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {@apply absolute left-0 pl-4 pr-[calc(theme('width.full')-theme('gap.8'))] py-3;}
  input[type="date"]::-webkit-datetime-edit-fields-wrapper ,
  input[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper ,
  input[type="date"]::-webkit-datetime-edit ,
  input[type="datetime-local"]::-webkit-datetime-edit {@apply relative left-3;}*/
  input:is([type="date"], [type="datetime-local"])::-webkit-calendar-picker-indicator {@apply p-3 -mr-4;}
  /**/
  .form-inline {@apply flex-row justify-between items-end gap-4;}
  .form-inner {@apply flex-row justify-between items-end gap-0;}
  form:not(.form-gap-0) .fieldset-border {@apply pt-2;}
  :is(form) .fieldset-border:first-child:has(.label-border.hidden) {@apply pt-0;}
  .fieldset-inline {@apply flex-col sm:flex-row gap-2 gap-x-8 mt-2;}
  .fieldset-inline.border {@apply p-4 border-slate-200 rounded-lg;}
  .fieldset-inline .field {@apply flex-row items-center;}
  .fieldset-inline .field label {@apply pl-2;}
  .fieldset-button {@apply flex-row gap-4;}
  form:not(.form-gap-0) .fieldset-button {@apply pt-4;}
  .form-inner input[type="number"]::-webkit-outer-spin-button ,
  .form-inner input[type="number"]::-webkit-inner-spin-button {@apply appearance-none;}
  .form-inline fieldset {@apply w-full;}
  .form-inner .fieldset-button-field-end {@apply absolute bottom-0 right-0 w-fit p-0;}
  .form-inner .fieldset-button-field-end .btn:not(.btn-icon) {@apply w-10 xs:w-fit px-0 xs:px-4;}
  .form-inner .fieldset-button-field-end .btn:not(.btn-icon) span:not(.material-symbols-outlined) {@apply hidden xs:block;}
  .form-inline .fieldset-button {@apply w-fit p-0;}
  .field {@apply relative flex;}
  .field label {@apply w-fit;}
  .label-border {@apply absolute -top-3 left-3 inline-block w-fit text-sm px-1 py-0 rounded mt-[1px] bg-white;}
  .label-field-on {@apply absolute top-0.5 left-4 text-sm;}
  .label-field-on + input {@apply h-12 pt-4 pb-1;}
  .label-field-end {@apply absolute top-1.5 right-1.5 flex justify-center items-center min-w-10 min-h-7 text-xs text-center text-white px-2 py-1 rounded bg-slate-200;}
  fieldset:hover .label-field-end {@apply bg-slate-300;}
  .fieldset-inline .label-field-end {@apply w-fit;}
  .field-button-end {@apply absolute bottom-0 right-0 w-fit p-0;}
  .form-inner:has(.fieldset-button-field-end .btn-icon) input ,
  .field:has(.field-button-end .btn-icon) > input {@apply whitespace-nowrap text-ellipsis pr-11;}

  table {@apply w-full;}
  table tr {@apply border-b border-slate-200;}
  table thead th ,
  table thead td {@apply text-sm font-medium text-nowrap text-left align-bottom !pt-0;}
  table tbody tr {@apply border-slate-100;}
  table tbody tr:hover {@apply bg-slate-50;}
  table th ,
  table td {@apply align-top py-2 pr-4 sm:pr-8;}
  table th:first-child ,
  table td:first-child {@apply w-0 pl-4 sm:pl-8;}
  table th:last-child ,
  table td:last-child {@apply w-0;}
  table a:not(.btn):hover {@apply underline underline-offset-2 decoration-primary-active;}
  /**/
  .table-action thead th ,
  .table-action thead td {@apply align-middle;}
  .table-action tbody th:not(:last-child) ,
  .table-action tbody td:not(:last-child) {@apply py-3.5;}
  .table-action th:first-child ,
  .table-action td:first-child {@apply font-medium text-right text-info;}
  .table-action th:last-child ,
  .table-action td:last-child {@apply whitespace-nowrap text-right pr-2;}
  .table-action a:not(.btn) {@apply block leading-5 py-1;}

  a ,
  button , .btn ,
  input , select , textarea , label ,
  .tooltip:before , .tooltip:after ,
  dialog ,
  svg , svg * {@apply transition-all;}
  button , .btn {@apply duration-300;}
  button * , .btn * {@apply transition-none;}
};

@layer components {

  /* Color */
  :is(.btn, .badge)[class*="-primary"]   {@apply text-primary          fill-primary          border-primary          bg-primary         ;}
  :is(.btn, .badge)[class*="-secondary"] {@apply text-secondary        fill-secondary        border-secondary        bg-secondary       ;}
  :is(.btn, .badge)[class*="-tertiary"]  {@apply text-tertiary         fill-tertiary         border-tertiary         bg-tertiary        ;}
  :is(.btn, .badge)[class*="-error"]     {@apply text-error            fill-error            border-error            bg-error           ;}
  :is(.btn, .badge)[class*="-warning"]   {@apply text-warning          fill-warning          border-warning          bg-warning         ;}
  :is(.btn, .badge)[class*="-success"]   {@apply text-success          fill-success          border-success          bg-success         ;}
  :is(.btn, .badge)[class*="-info"]      {@apply text-info             fill-info             border-info             bg-info            ;}
  :is(.btn, .badge)[class*="-grey"]      {@apply text-grey             fill-grey             border-grey             bg-grey            ;}
  :is(.btn, .badge)[class*="-slate"]     {@apply text-slate            fill-slate            border-slate            bg-slate           ;}
  :is(.btn)[class*="-primary"]:hover     {@apply text-primary-active   fill-primary-active   border-primary-active   bg-primary-active  ;}
  :is(.btn)[class*="-secondary"]:hover   {@apply text-secondary-active fill-secondary-active border-secondary-active bg-secondary-active;}
  :is(.btn)[class*="-tertiary"]:hover    {@apply text-tertiary-active  fill-tertiary-active  border-tertiary-active  bg-tertiary-active ;}
  :is(.btn)[class*="-error"]:hover       {@apply text-error-active     fill-error-active     border-error-active     bg-error-active    ;}
  :is(.btn)[class*="-warning"]:hover     {@apply text-warning-active   fill-warning-active   border-warning-active   bg-warning-active  ;}
  :is(.btn)[class*="-success"]:hover     {@apply text-success-active   fill-success-active   border-success-active   bg-success-active  ;}
  :is(.btn)[class*="-info"]:hover        {@apply text-info-active      fill-info-active      border-info-active      bg-info-active     ;}
  :is(.btn)[class*="-grey"]:hover        {@apply text-grey-active      fill-grey-active      border-grey-active      bg-grey-active     ;}
  :is(.btn)[class*="-slate"]:hover       {@apply text-slate-active     fill-slate-active     border-slate-active     bg-slate-active    ;}
  /**/
  [class*="bg-"][class*="-gradient"]     {@apply text-white bg-gradient-to-br;}
  .bg-primary-gradient                   {@apply from-primary-700   to-primary  ;}
  .bg-secondary-gradient                 {@apply from-secondary-600 to-secondary;}
  .bg-tertiary-gradient                  {@apply from-tertiary-600  to-tertiary ;}
  .bg-error-gradient                     {@apply from-error-800     to-error    ;}
  .bg-warning-gradient                   {@apply from-warning-700   to-warning  ;}
  .bg-success-gradient                   {@apply from-success-800   to-success  ;}
  .bg-info-gradient                      {@apply from-info-950      to-info     ;}
  .bg-grey-gradient                      {@apply from-grey-800      to-grey     ;}
  .bg-slate-gradient                     {@apply from-slate-900     to-slate    ;}

  /* Button */
  .btn {@apply flex justify-center items-center w-full xs:w-fit gap-2 border;}
    .btn.btn-2xs {@apply min-w-6  h-6  text-xs font-medium px-1.5 rounded;   }
    .btn.btn-xs  {@apply min-w-8  h-8  text-xs font-medium px-2.5 rounded;   }
    .btn.btn-sm  {@apply min-w-9  h-9  text-sm font-medium px-3   rounded-md;}
    .btn         {@apply min-w-10 h-10 text-base           px-4   rounded-lg;}
    .btn.btn-lg  {@apply min-w-11 h-11 text-lg             px-5   rounded-lg;}
    .btn.btn-xl  {@apply min-w-12 h-12 text-xl             px-6   rounded-lg;}
    .btn.btn-2xl {@apply min-w-14 h-14 text-2xl            px-7   rounded-lg;}
    .btn.btn-2xs :is(svg, .icon, .material-symbols-outlined) , .icon-2xs  {@apply size-4 [font-size:theme('gap.4')];}
    .btn.btn-xs  :is(svg, .icon, .material-symbols-outlined) , .icon-xs   {@apply size-5 [font-size:theme('gap.5')];}
    .btn.btn-sm  :is(svg, .icon, .material-symbols-outlined) , .icon-sm   {@apply size-5 [font-size:theme('gap.5')];}
    .btn         :is(svg, .icon, .material-symbols-outlined) , .icon-base {@apply size-6 [font-size:theme('gap.6')];}
    .btn.btn-lg  :is(svg, .icon, .material-symbols-outlined) , .icon-lg   {@apply size-7 [font-size:theme('gap.7')];}
    .btn.btn-xl  :is(svg, .icon, .material-symbols-outlined) , .icon-xl   {@apply size-8 [font-size:theme('gap.8')];}
    .btn.btn-2xl :is(svg, .icon, .material-symbols-outlined) , .icon-2xl  {@apply size-9 [font-size:theme('gap.9')];}
  .btn-icon {@apply !p-0;}
    .btn-icon.btn-2xs {@apply size-6;}
    .btn-icon.btn-xs  {@apply size-8;}
    .btn-icon.btn-sm  {@apply size-9;}
    .btn-icon         {@apply size-10;}
    .btn-icon.btn-lg  {@apply size-11;}
    .btn-icon.btn-xl  {@apply size-12;}
    .btn-icon.btn-2xl {@apply size-14;}
  /**/
  button ,
  .btn ,
  .btn[class*="btn-alternate-"] ,
    .btn[class*="btn-ghost-alternate"] ,
    .btn[class*="btn-mix-alternate"] ,
    .btn[class*="btn-text-alternate"] {@apply text-slate-400 fill-slate-400 border-slate-100 bg-slate-100;}
    button:hover ,
    .btn:hover ,
    .btn.btn-ghost:hover {@apply text-slate-500 fill-slate-500 border-slate-200 bg-slate-200;}
    button:disabled ,
    .btn:disabled ,
    .btn.btn-disabled {@apply pointer-events-none !text-slate-200 !fill-slate-200 !border-slate-100 !bg-slate-100;}
  .btn[class*="btn-ghost"] ,
  .btn[class*="btn-mix"] ,
  .btn[class*="btn-text"] ,
  .btn[class*="btn-text"]:hover {@apply border-transparent bg-transparent;}
  .btn[class*="btn-alternate"]:hover ,
  .btn[class*="btn-ghost-"]:hover ,
  .btn[class*="btn-color"] ,
  .btn[class*="btn-color"]:hover {@apply text-white fill-white;}
  .btn-outline ,
  .btn[class*="btn-outline-alternate"] {@apply text-slate-400 fill-slate-400 border-slate-400;}
  .btn-outline:hover {@apply border-slate-500;}
  .btn[class*="btn-outline"] ,
  .btn[class*="btn-outline"]:hover {@apply border-2 bg-transparent;}
  .btn.btn-2xs[class*="btn-outline"] ,
  .btn.btn-2xs[class*="btn-outline"]:hover {@apply border;}
  .btn-reverse ,
  .btn[class*="btn-reverse-alternate"] {@apply text-slate-400 fill-slate-400;}
  .btn[class*="btn-reverse"] ,
  .btn[class*="btn-reverse"]:hover ,
  .btn[class*="btn-mix"]:hover {@apply border-white bg-white;}

  /* Badge */
  .badge            {@apply flex justify-center items-center w-fit whitespace-nowrap gap-0.5 rounded-md;}
  .badge-pill       {@apply rounded-full;}
    .badge.badge-xs {@apply min-w-5 h-5 text-2xs font-medium px-1.5 rounded;}
    .badge.badge-sm {@apply min-w-6 h-6 text-xs font-medium px-2 rounded;}
    .badge          {@apply min-w-7 h-7 text-sm px-2.5;}
    .badge.badge-lg {@apply min-w-8 h-8 text-sm px-3;}
    .badge.badge-xs :is(svg, .icon, .material-symbols-outlined) {@apply size-4 [font-size:theme('gap.4')];}
    .badge.badge-sm :is(svg, .icon, .material-symbols-outlined) {@apply size-4 [font-size:theme('gap.4')];}
    .badge          :is(svg, .icon, .material-symbols-outlined) {@apply size-5 [font-size:theme('gap.5')];}
    .badge.badge-lg :is(svg, .icon, .material-symbols-outlined) {@apply size-6 [font-size:theme('gap.6')];}
  .badge-icon            {@apply !p-0;}
    .badge-icon.badge-xs {@apply size-5;}
    .badge-icon.badge-sm {@apply size-6;}
    .badge-icon          {@apply size-7;}
    .badge-icon.badge-lg {@apply size-8;}
  /**/
  .badge                         {@apply text-slate-400 fill-slate-400 border-slate-100 bg-slate-100;}
  .badge[class*="badge-color"]   {@apply text-white fill-white;}
  .badge[class*="badge-reverse"] ,
  .badge-mix                     {@apply border-white bg-white;}
  .badge-outline                 ,
  .badge-mix                     {@apply text-slate-400 fill-slate-400 border border-slate-400;}
  .badge[class*="badge-outline"] {@apply border bg-transparent;}
  .badge .text + .text:before    {@apply [content:','] inline-block pr-0.5;}
  .badge .text:has(.hidden)      {@apply [display:none;];}

  /* Layout */
  .frame {@apply padding rounded-lg bg-white shadow-lg;}

  .tooltip                     {@apply relative whitespace-nowrap inline-block w-fit;}
  .tooltip:before              {@apply content-[attr(data-tip)] min-w-10 text-xs text-center text-white px-2 py-1 rounded mb-1 bg-slate-600;}
  .tooltip:after               {@apply content-[''] w-0 h-0 border-t-4 border-x-4 border-transparent border-t-slate-600;}
  .tooltip:before              ,
  .tooltip:after               {@apply delay-700 pointer-events-none invisible opacity-0 absolute z-10 left-1/2 bottom-full -translate-x-1/2 -translate-y-0;}
  .tooltip:hover:before        ,
  .tooltip:hover:after         {@apply -translate-y-1;}
  /**/
  .tooltip-left:before         {@apply mb-0 mr-1;}
  .tooltip-left:after          {@apply border-y-4 border-r-0 border-transparent border-l-slate-600;}
  .tooltip-left:before         ,
  .tooltip-left:after          {@apply top-auto left-auto right-full bottom-1/2 -translate-x-0 translate-y-1/2;}
  .tooltip-left:hover:before   ,
  .tooltip-left:hover:after    {@apply -translate-x-1 translate-y-1/2;}
  /**/
  .tooltip-right:before        {@apply mb-0 ml-1;}
  .tooltip-right:after         {@apply border-y-4 border-l-0 border-transparent border-r-slate-600;}
  .tooltip-right:before        ,
  .tooltip-right:after         {@apply top-auto left-full right-auto bottom-1/2 translate-x-0 translate-y-1/2;}
  .tooltip-right:hover:before  ,
  .tooltip-right:hover:after   {@apply translate-x-1 translate-y-1/2;}
  /**/
  .tooltip-bottom:before       {@apply mb-0 mt-1;}
  .tooltip-bottom:after        {@apply border-t-0 border-x-4 border-b-4 border-transparent border-b-slate-600;}
  .tooltip-bottom:before       ,
  .tooltip-bottom:after        {@apply left-1/2 top-full bottom-auto -translate-x-1/2 -translate-y-0;}
  .tooltip-bottom:hover:before ,
  .tooltip-bottom:hover:after  {@apply translate-y-1;}
  /**/
  .tooltip:has(> .btn:hover):hover:before      ,
  .tooltip:has(> .btn:hover):hover:after       {@apply visible opacity-100;}
  .tooltip-none:hover:before                   ,
  .tooltip-none:hover:after                    ,
  .tooltip-none:has(> .btn:hover):hover:before ,
  .tooltip-none:has(> .btn:hover):hover:after  {@apply invisible opacity-0;}

  .modal                           {@apply relative z-20 flex flex-col justify-center items-center text-left m-0 bg-transparent;}
  .modal .modal-content            {@apply relative flex flex-col w-full sm:w-[calc(623px-64px)] max-h-[88%] gap-sm padding bg-white;}
  .modal .modal-content.fullscreen {@apply !w-full max-w-screen-xl !h-full max-h-none;}
  .modal-content > .tooltip        {@apply absolute z-0 top-0 right-0;}
  .modal-content .fieldset-button  {@apply gap-2 2xs:gap-4 pt-4;}
  .modal[class*="modal-"] .modal-content > .tooltip    ,
  .modal[class*="modal-"] .modal-close                 {@apply hidden;}
  .modal-state                     {@apply overflow-hidden border rounded-lg shadow-none;}
  .modal-tooltip                   {@apply visible opacity-100 absolute left-auto right-0 bottom-full -translate-y-2;}
  .modal-tooltip .modal-content                        {@apply frame w-fit text-sm gap-0 padding-sm;}
  .modal-tooltip .modal-content .fieldset-button       {@apply flex-nowrap gap-2 padding-t-xs;}
  .modal-tooltip-right .modal-content .fieldset-button {@apply justify-end;}
  .modal-tooltip-left:after  ,
  .modal-tooltip-right:after {@apply content-[''] absolute -bottom-1 w-0 h-0 border-t-4 border-x-4 border-transparent border-t-white;}
  .modal-tooltip-left:after  {@apply left-[16px];}
  .modal-tooltip-right:after {@apply right-[16px];}
  /**/
  .modal:not([class*="modal-"])                    {@apply fixed top-0 left-0 w-full h-full padding;}
  .modal:not([class*="modal-"]) .modal-content     {@apply frame;}
  .modal:not([class*="modal-"]) .modal-close       {@apply transition-opacity opacity-95 fixed -z-10 top-0 left-0 w-[100vw] h-[100vh] bg-slate-600;}
  .modal:not([class*="modal-"]) .modal-close:hover {@apply opacity-90;}
  /**/
  .modal .container {@apply p-0 m-0 bg-transparent shadow-none;}
  /* Preview */
  .modal.onState {@apply !relative transform-none;}
};

@layer utilities {
  .indent   {@apply indent-5 sm:indent-10;}
  .prefix   {@apply inline-block min-w-10 -ml-10;}
  .gap-xs   {@apply gap-1   sm:gap-2   ;}
  .gap-x-xs {@apply gap-x-1 sm:gap-x-2 ;}
  .gap-y-xs {@apply gap-y-1 sm:gap-y-2 ;}
  .gap-t-xs {@apply gap-t-1 sm:gap-t-2 ;}
  .gap-l-xs {@apply gap-l-1 sm:gap-l-2 ;}
  .gap-r-xs {@apply gap-r-1 sm:gap-r-2 ;}
  .gap-b-xs {@apply gap-b-1 sm:gap-b-2 ;}
  .gap-sm   {@apply gap-2   sm:gap-4   ;}
  .gap-x-sm {@apply gap-x-2 sm:gap-x-4 ;}
  .gap-y-sm {@apply gap-y-2 sm:gap-y-4 ;}
  .gap-t-sm {@apply gap-t-2 sm:gap-t-4 ;}
  .gap-l-sm {@apply gap-l-2 sm:gap-l-4 ;}
  .gap-r-sm {@apply gap-r-2 sm:gap-r-4 ;}
  .gap-b-sm {@apply gap-b-2 sm:gap-b-4 ;}
  .gap      {@apply gap-4   sm:gap-8   ;}
  .gap-x    {@apply gap-x-4 sm:gap-x-8 ;}
  .gap-y    {@apply gap-y-4 sm:gap-y-8 ;}
  .gap-t    {@apply gap-t-4 sm:gap-t-8 ;}
  .gap-l    {@apply gap-l-4 sm:gap-l-8 ;}
  .gap-r    {@apply gap-r-4 sm:gap-r-8 ;}
  .gap-b    {@apply gap-b-4 sm:gap-b-8 ;}
  .gap-lg   {@apply gap-8   sm:gap-16  ;}
  .gap-x-lg {@apply gap-x-8 sm:gap-x-16;}
  .gap-y-lg {@apply gap-y-8 sm:gap-y-16;}
  .gap-t-lg {@apply gap-t-8 sm:gap-t-16;}
  .gap-l-lg {@apply gap-l-8 sm:gap-l-16;}
  .gap-r-lg {@apply gap-r-8 sm:gap-r-16;}
  .gap-b-lg {@apply gap-b-8 sm:gap-b-16;}
  .padding-xs   {@apply p-1  sm:p-2  ;}
  .padding-x-xs {@apply px-1 sm:px-2 ;}
  .padding-y-xs {@apply py-1 sm:py-2 ;}
  .padding-t-xs {@apply pt-1 sm:pt-2 ;}
  .padding-l-xs {@apply pl-1 sm:pl-2 ;}
  .padding-r-xs {@apply pr-1 sm:pr-2 ;}
  .padding-b-xs {@apply pb-1 sm:pb-2 ;}
  .padding-sm   {@apply p-2  sm:p-4  ;}
  .padding-x-sm {@apply px-2 sm:px-4 ;}
  .padding-y-sm {@apply py-2 sm:py-4 ;}
  .padding-t-sm {@apply pt-2 sm:pt-4 ;}
  .padding-l-sm {@apply pl-2 sm:pl-4 ;}
  .padding-r-sm {@apply pr-2 sm:pr-4 ;}
  .padding-b-sm {@apply pb-2 sm:pb-4 ;}
  .padding      {@apply p-4  sm:p-8  ;}
  .padding-x    {@apply px-4 sm:px-8 ;}
  .padding-y    {@apply py-4 sm:py-8 ;}
  .padding-t    {@apply pt-4 sm:pt-8 ;}
  .padding-l    {@apply pl-4 sm:pl-8 ;}
  .padding-r    {@apply pr-4 sm:pr-8 ;}
  .padding-b    {@apply pb-4 sm:pb-8 ;}
  .padding-lg   {@apply p-8  sm:p-16 ;}
  .padding-x-lg {@apply px-8 sm:px-16;}
  .padding-y-lg {@apply py-8 sm:py-16;}
  .padding-t-lg {@apply pt-8 sm:pt-16;}
  .padding-l-lg {@apply pl-8 sm:pl-16;}
  .padding-r-lg {@apply pr-8 sm:pr-16;}
  .padding-b-lg {@apply pb-8 sm:pb-16;}
  .margin-xs    {@apply m-1  sm:m-2  ;}
  .margin-x-xs  {@apply mx-1 sm:mx-2 ;}
  .margin-y-xs  {@apply my-1 sm:my-2 ;}
  .margin-t-xs  {@apply mt-1 sm:mt-2 ;}
  .margin-l-xs  {@apply ml-1 sm:ml-2 ;}
  .margin-r-xs  {@apply mr-1 sm:mr-2 ;}
  .margin-b-xs  {@apply mb-1 sm:mb-2 ;}
  .margin-sm    {@apply m-2  sm:m-4  ;}
  .margin-x-sm  {@apply mx-2 sm:mx-4 ;}
  .margin-y-sm  {@apply my-2 sm:my-4 ;}
  .margin-t-sm  {@apply mt-2 sm:mt-4 ;}
  .margin-l-sm  {@apply ml-2 sm:ml-4 ;}
  .margin-r-sm  {@apply mr-2 sm:mr-4 ;}
  .margin-b-sm  {@apply mb-2 sm:mb-4 ;}
  .margin       {@apply m-4  sm:m-8  ;}
  .margin-x     {@apply mx-4 sm:mx-8 ;}
  .margin-y     {@apply my-4 sm:my-8 ;}
  .margin-t     {@apply mt-4 sm:mt-8 ;}
  .margin-l     {@apply ml-4 sm:ml-8 ;}
  .margin-r     {@apply mr-4 sm:mr-8 ;}
  .margin-b     {@apply mb-4 sm:mb-8 ;}
  .margin-lg    {@apply m-8  sm:m-16 ;}
  .margin-x-lg  {@apply mx-8 sm:mx-16;}
  .margin-y-lg  {@apply my-8 sm:my-16;}
  .margin-t-lg  {@apply mt-8 sm:mt-16;}
  .margin-l-lg  {@apply ml-8 sm:ml-16;}
  .margin-r-lg  {@apply mr-8 sm:mr-16;}
  .margin-b-lg  {@apply mb-8 sm:mb-16;}
};

/*************
  Custom CSS
*************/

/* Google Icon */
.material-symbols-outlined.wght-700      {font-variation-settings:'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.wght-600      {font-variation-settings:'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.wght-500      {font-variation-settings:'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.wght-400      {font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined               {font-variation-settings:'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.wght-200      {font-variation-settings:'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.wght-100      {font-variation-settings:'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill.wght-700 {font-variation-settings:'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill.wght-600 {font-variation-settings:'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill.wght-500 {font-variation-settings:'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill.wght-400 {font-variation-settings:'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill          {font-variation-settings:'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill.wght-200 {font-variation-settings:'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;}
.material-symbols-outlined.fill.wght-100 {font-variation-settings:'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 24;}

/* Pagination */
.pagination .btn {@apply !p-0;}

/* TinyMCE */
.tox.tox-tinymce {@apply w-full h-60 min-h-60 md:min-h-80 border border-slate-200 rounded-lg bg-white;}
.tox.tox-tinymce:hover {@apply border-slate-300;}
.tox.tox-tinymce.tox-edit-focus {@apply border-primary;}
.tox.tox-tinymce.tox-fullscreen {@apply
  !w-[calc(theme('width.full')-theme('gap.4'))]  sm:!w-[calc(theme('width.full')-theme('gap.8'))]
  !h-[calc(theme('height.full')-theme('gap.4'))] sm:!h-[calc(theme('height.full')-theme('gap.8'))]
  !top-2 sm:!top-4 !left-2 sm:!left-4;
}
.tox .tox-editor-header {@apply !py-1;}
.tox .tox-toolbar {@apply !bg-none;}
.tox .tox-toolbar__group {@apply !px-2 !py-1;}
.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {@apply !border-slate-100;}
.tox .tox-toolbar__group .tox-split-button {@apply my-0 mr-0.5;}
.tox .tox-toolbar__group .tox-tbtn:not(.tox-split-button__chevron) {@apply w-7 h-7 rounded my-0 mr-0.5;}
.tox .tox-toolbar__group .tox-tbtn:after {@apply hidden;}
.tox .tox-toolbar__group .tox-tbtn:focus ,
.tox .tox-toolbar__group .tox-tbtn:hover {@apply bg-slate-200;}
.tox .tox-toolbar__group .tox-tbtn--active        ,
.tox .tox-toolbar__group .tox-tbtn--enabled       ,
.tox .tox-toolbar__group .tox-tbtn--enabled:focus ,
.tox .tox-toolbar__group .tox-tbtn--enabled:hover {@apply bg-info;}
.tox .tox-toolbar__group .tox-tbtn       svg {@apply fill-slate-400;}
.tox .tox-toolbar__group .tox-tbtn:focus svg ,
.tox .tox-toolbar__group .tox-tbtn:hover svg {@apply fill-slate-500;}
.tox .tox-toolbar__group .tox-tbtn--active        svg ,
.tox .tox-toolbar__group .tox-tbtn--enabled       svg ,
.tox .tox-toolbar__group .tox-tbtn--enabled:focus svg ,
.tox .tox-toolbar__group .tox-tbtn--enabled:hover svg {@apply !fill-white;}
.tox .tox-edit-area:before {@apply hidden;}
.tox .tox-statusbar__branding {@apply hidden;}
.tox .tox-statusbar__resize-handle svg {@apply !w-3 !h-3;}
.tox svg {@apply w-auto h-auto;}

/* Header */
#header             {@apply bg-slate-50;}
#header .container  {@apply flex-row justify-between items-center padding-y-sm;}
#header #navBrand a {@apply h-10 flex flex-nowrap items-center gap-2;}
/**/
#header #navMain                        {@apply -order-1 md:order-none;}
#header #navMain #navMainToggle         {@apply md:hidden;}
#header #navMain ul                     {@apply hidden md:flex;}
#header.navmain-active #navMain ul      {@apply absolute z-80 top-full left-0 block w-full padding border-t bg-slate-50 shadow-lg;}
#header.navmain-active #navMain ul .btn {@apply w-full justify-start;}
/**/
#header #navUser               {@apply relative flex;}
.nav-dropdown                  {@apply absolute z-20 hover:z-30 top-full right-0 rounded-lg bg-white shadow-lg;}
.container:hover .nav-dropdown {@apply z-40;}
.nav-dropdown hr               {@apply my-2;}
.nav-dropdown > h6             {@apply text-slate px-4 pt-4 pb-1;}
.nav-dropdown hr + h6          {@apply pt-2;}
.nav-dropdown li > .btn        {@apply w-full justify-start;}
.nav-dropdown li > .btn .text  {@apply flex-1 whitespace-nowrap text-left pr-2;}
/*.nav-dropdown li.fontsize #fontSize.nav {@apply -mr-2.5;}*/
.nav-dropdown li.fontsize #fontSize.nav form          {@apply flex-row;}
.nav-dropdown li.fontsize #fontSize.nav form fieldset {@apply flex flex-row flex-nowrap items-center gap-0 rounded border border-slate-100;}
.nav-dropdown li.fontsize #fontSize.nav form input    {@apply w-6 h-6 text-center p-0 border-none;}
#footer .nav-dropdown          {@apply top-auto bottom-full;}

/* Footer */
#footer                                          {@apply bg-slate-50;}
#footer > .container                             {@apply flex-col xs:flex-row items-center xs:padding-y-sm gap-0;}
#footerCopyright                                 {@apply text-sm text-slate-300 text-center;}
#navFooter ul                                    {@apply flex}
#navFooter ul a .text                            {@apply hidden;}
#navFooter hr                                    {@apply h-auto border-r-2 margin-x-sm;}
#navFooter .donate .nav-dropdown:has(#kofiframe) {@apply overflow-hidden p-4;}
/**/
#kofiframe {@apply h-[600px] m-[-134px_-16px_-65px];}

/* Layout */
#root {@apply flex flex-col min-h-screen;}
#main {@apply flex flex-col flex-1 padding-y;}
/**/
.container         {@apply relative flex flex-col justify-between max-w-screen-xl gap padding mx-auto;}
#main > .container {@apply flex-1 justify-start;}
hr                 {@apply clear-both;}
.container > hr    {@apply -mx-4 sm:-mx-8 xl:mx-0 my-4 sm:my-8;}
.wrapper           {@apply flex flex-col flex-1 gap;}

/* Item - Content */
.itemcontent-heading      {@apply flex flex-col;}
.itemcontent-heading > hr {@apply -mx-4 sm:-mx-8 xl:mx-0 mt-2 mb-4 sm:my-4;}
.itemcontent-info         {@apply flex flex-wrap justify-between items-center /*gap*/;}
.itemcontent-meta         {@apply flex items-center gap-2;}
.nav-action               {@apply flex;}
.nav-action hr            {@apply -order-1 2xs:order-none h-auto border-t-0 border-r margin-x-sm -mb-2 sm:-mb-4;}
#share              {@apply flex flex-col gap-4;}
#share .heading     {@apply text-info;}
#itemContentDesc    {@apply flex flex-col font-display w-fit gap-4 mx-auto;}
#itemContentDesc p  {@apply [font-size:inherit] [line-height:inherit]}
#itemContentDesc ul {@apply list-disc;}
#itemContentDesc .twocolumn:is(ul, ol)                          {@apply xs:grid xs:grid-cols-2 gap-x-5 !list-none;}
#itemContentDesc .twocolumn:is(ul, ol) li:has(.mce-nbsp-wrap)   {@apply hidden xs:list-item;}
#itemContentDesc .threecolumn:is(ul, ol)                        {@apply xs:grid xs:grid-cols-2 sm:grid-cols-3 gap-x-5 !list-none;}
#itemContentDesc .threecolumn:is(ul, ol) li:has(.mce-nbsp-wrap) {@apply hidden xs:list-item;}
#itemContentDesc sup     {@apply text-primary-active;}
#itemContentDesc a       {@apply text-primary;}
#itemContentDesc a:hover {@apply text-primary-active;}
#itemContentDesc :is(p, ul, ol)[style*="padding-left: 60px"]  .prefix {@apply min-w-[60px] -ml-[60px];}
#itemContentDesc :is(p, ul, ol)[style*="padding-left: 80px"]  .prefix {@apply min-w-20 -ml-20;}
#itemContentDesc :is(p, ul, ol)[style*="padding-left: 120px"] .prefix {@apply min-w-[120px] -ml-[120px];}
#itemContentDesc table                               {@apply w-fit border-none;}
#itemContentDesc table :is(col, th, td)              {@apply !w-auto;}
#itemContentDesc table :is(tr)                       {@apply border-none;}
#itemContentDesc table :is(tr):hover                 {@apply bg-transparent;}
#itemContentDesc table :is(th, td)                   {@apply p-0;}
#itemContentDesc table :is(th, td):not(:first-child) {@apply pl-5;}
.itemcontent-nav-pagination            {@apply flex flex-wrap justify-between items-end gap;}
.itemcontent-nav-pagination .btn-prev  {@apply 2xs:flex-1 w-10 2xs:w-full xs:max-w-40 px-0 2xs:px-4;}
.itemcontent-nav-pagination .btn-next  {@apply order-2 xs:order-3 flex-1 xs:max-w-40;}
.itemcontent-nav-pagination .form-jump {@apply order-3 xs:order-2 xs:flex-1 xs:max-w-80;}
/**/
.status-code                            {@apply flex flex-1 flex-col xs:flex-row justify-center items-center text-center xs:text-left;}
.status-code .material-symbols-outlined {@apply size-32 [font-size:theme('gap.32')] sm:size-40 sm:[font-size:theme('gap.40')] text-slate-100;
                                         font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;
}
.status-code h6 {@apply text-7xl sm:text-8xl !leading-[0.75] font-light text-slate-100;}
.status-code h3 {@apply text-2xl sm:text-4xl !leading-[1.5] text-slate-300;}

/* Widget */
.widget                               {@apply frame flex flex-col w-max p-0;}
.widget .heading                      {@apply flex items-center min-h-8 px-2 py-0.5 gap-1 rounded-lg;}
.widget h6                            {@apply flex items-center whitespace-nowrap gap-1 text-info;}
.widget .heading[class*="bg"] :is(h6) {@apply text-white;}
.widget form                          {@apply flex-row p-2 gap-0;}
.widget form fieldset                 {@apply flex flex-row flex-nowrap gap-0 rounded-lg bg-slate-100;}
.widget form input:read-only          {@apply !border-slate-100;}
/**/
#widgetCountNumber form input                     {@apply w-[72px] text-3xl font-light text-slate text-center p-2 rounded-lg;}
#widgetCountNumber form input:not(:hover, :focus) {@apply border-slate-100;}
#widgetCountNumber form .btn-countnumber-reset    {@apply absolute -top-[38px] right-[22px];}
/**/
.widget#fontSize form input                       {@apply w-10 text-3xl font-light text-slate text-center p-2 rounded-lg}
/**/
#widgetCalendar                          {@apply flex-row;}
#widgetCalendar.widget:not(.nav)         {@apply fixed z-10 bottom-4 left-4;}
#widgetCalendar.widget.nav               {@apply -mb-5 md:-mb-9 mr-2 sm:mr-4;}
#widgetCalendar .icon-moon               {@apply hidden xs:block p-2 rounded-lg;}
#widgetCalendar .date                    {@apply text-nowrap text-center md:text-left px-3 py-2;}
#widgetCalendar p                        {@apply text-3xl md:text-sm font-light md:font-normal !leading-6 md:!leading-5 text-slate;}
#widgetCalendar p span:not(.date-number) {@apply hidden md:inline;}
/**/
.draggable {@apply fixed z-10 top-[calc(100%-108px)] left-[calc(100%-184px)];}
.btn-drag  {@apply cursor-move absolute top-0 right-0 !w-auto !min-w-0 !px-1 hover:text-white;}

/* Donate */
#donate .wrapper                         {@apply sm:flex-row justify-between;}
.donate-channel                          {@apply flex flex-wrap flex-row justify-center items-center w-fit h-fit gap mx-auto sm:mx-0;}
.donate-channel-qrcode                   {@apply w-28 p-1 rounded-lg bg-bank-kbank;}
.donate-channel-qrcode img               {@apply w-[104px] h-[104px] rounded-md bg-white;}
.donate-channel-qrcode .heading          {@apply flex-col leading-none text-white text-center gap-0 pb-1.5;}
.donate-channel-qrcode .heading span     {@apply h3 text-white;}
.donate-channel-desc .heading            {@apply font-medium;}
.donate-channel-desc p                   {@apply leading-snug text-nowrap;}
.donate-channel-desc p .number-reference {@apply text-sm text-slate-400;}
#donate .wrapper > hr                    {@apply sm:w-0 sm:h-auto sm:border-t-0 sm:border-r -mx-4 sm:mx-0 my-4 sm:my-0;}
#donate form                             {@apply sm:w-1/2;}

/* Layer - Example page */
section.layer             {@apply container rounded-xl hover:bg-slate-50;}
section.layer > div       {@apply flex flex-wrap gap-2;}
section.layer hr          {@apply my-0;}
#layerButton .form .field {@apply flex-wrap;}
#layerButton > div > .btn {@apply w-fit;}
#layerButton .form .btn   {@apply w-fit capitalize;}
#layerColor span          ,
#layerBank i.bank         {@apply w-10 sm:w-20 h-10 sm:h-20 rounded sm:rounded-lg;}